XTerm.vt100.termName: xterm-256color

XTerm.vt100.colorMode: on
XTerm.vt100.dynamicColors: on

XTerm.vt100.translations: #override \n\
	Shift Ctrl <KeyPress> Up:larger-vt-font() \n\
	Shift Ctrl <KeyPress> Down:smaller-vt-font() \n\

XTerm.vt100.foreground:   #ccbbb0
XTerm.vt100.background:   #1b0b10
XTerm.vt100.cursorColor:  #ccbbb0
XTerm.vt100.color0:       #1b0b10
XTerm.vt100.color8:       #241016
XTerm.vt100.color1:       #82354f
XTerm.vt100.color9:       #b33e65
XTerm.vt100.color2:       #803466
XTerm.vt100.color10:      #b33e8c
XTerm.vt100.color3:       #4f3480
XTerm.vt100.color11:      #673eb3
XTerm.vt100.color4:       #346580
XTerm.vt100.color12:      #3e8ab3
XTerm.vt100.color5:       #348068
XTerm.vt100.color13:      #3eb38c
XTerm.vt100.color6:       #6e804d
XTerm.vt100.color14:      #9ab36b
XTerm.vt100.color7:       #b3a49a
XTerm.vt100.color15:      #ccbbb0

XTerm.vt100.renderFont: true
XTerm.vt100.faceName: Hack:size=12:antialias=true
