XTerm.termName: xterm-256color

XTerm.vt100.colorMode: on
XTerm.vt100.dynamicColors: on

XTerm.vt100.translations: #override \n\
	Shift Ctrl <KeyPress> Up:larger-vt-font() \n\
	Shift Ctrl <KeyPress> Down:smaller-vt-font() \n\

XTerm.vt100.renderFont: true
XTerm.vt100.allowBoldFonts: false
XTerm.vt100.faceName: Px437 IBM VGA8:size=12:antialias=true


! special
XTerm.vt100.foreground:   #d0d0d0
XTerm.vt100.background:   #000000
XTerm.vt100.cursorColor:  #d0d0d0

! black
XTerm.vt100.color0:       #000000
XTerm.vt100.color8:       #808080

! red
XTerm.vt100.color1:       #ff0000
XTerm.vt100.color9:       #ff0000

! green
XTerm.vt100.color2:       #33ff00
XTerm.vt100.color10:      #33ff00

! yellow
XTerm.vt100.color3:       #ff0099
XTerm.vt100.color11:      #ff0099

! blue
XTerm.vt100.color4:       #0066ff
XTerm.vt100.color12:      #0066ff

! magenta
XTerm.vt100.color5:       #cc00ff
XTerm.vt100.color13:      #cc00ff

! cyan
XTerm.vt100.color6:       #00ffff
XTerm.vt100.color14:      #00ffff

! white
XTerm.vt100.color7:       #d0d0d0
XTerm.vt100.color15:      #ffffff
