XTerm.vt100.termName: xterm-256color

XTerm.vt100.colorMode: on
XTerm.vt100.dynamicColors: on

XTerm.vt100.translations: #override \n\
	Shift Ctrl <KeyPress> Up:larger-vt-font() \n\
	Shift Ctrl <KeyPress> Down:smaller-vt-font() \n\

XTerm.vt100.renderFont: true
XTerm.vt100.faceName: Terminus:size=12:antialias=true

XTerm.vt100.foreground: #C7C7C7
XTerm.vt100.background: #151515
!black
XTerm.vt100.color0:     #393939
XTerm.vt100.color8:     #474747
!red
XTerm.vt100.color1:     #FF9F95
XTerm.vt100.color9:     #FF8D80
!green
XTerm.vt100.color2:     #E2FFC7
XTerm.vt100.color10:    #DBFFB3
!yellow
XTerm.vt100.color3:     #FFFFB9
XTerm.vt100.color11:    #FFBE64
!blue
XTerm.vt100.color4:     #A8CEEA
XTerm.vt100.color12:    #7EB6FF
!magenta
XTerm.vt100.color5:     #E2B5CC
XTerm.vt100.color13:    #E296FF
!cyan
XTerm.vt100.color6:     #C2EFFF
XTerm.vt100.color14:    #9CE9FF
!white
XTerm.vt100.color7:     #dddddd
XTerm.vt100.color15:    #dddddd
